<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>      
    </startup>
  <appSettings>
    <add key="RootDirectory" value="C:\MAME"/>
    <add key="MAME_Args" value="-autosave -skip_gameinfo -video d3d"/>
    <add key="Support_Camera" value="false"/>
    <add key="Support_Nusbio" value="false"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <!--  Possible Values
      0 (Off)     Nothing will get logged
      1 (Error)   Only exceptions will get logged
      2 (Warn)    Unused by this application
      3 (Info)    Informational messages and Exceptions will get logged
      4 (Verbose) Debug information, as well as Infomational messages and Exceptions will get logged
      -->
      <add name="TraceLevelSwitch" value="1" />
    </switches>
  </system.diagnostics>
</configuration>