<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>      
    </startup>
  <appSettings>
    <add key="RootDirectory" value="C:\MAME"/>
    <add key="MAME_Args" value="-autosave -skip_gameinfo -video d3d"/>
    <add key="Support_Camera" value="false"/>
    <add key="Support_Nusbio" value="false"/>
  </appSettings>
</configuration>
